<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{_layout}">

<body>
<div layout:fragment="content">

    <div class="row">
        <form  class="form-horizontal"  th:action="@{/saveProductModels}" method="POST">
            <div class="col-lg-12">
                <div class="container" style="width: 70%">
                    <div class="row">
                        <div class="col-lg-9">
                            <section class="panel">
                                <header class="panel-heading">
                                    Add ProductModel Record
                                </header>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Product Model Name</label>
                                        <div class="col-sm-6">
                                            <input name="modelName" type="text" size="16" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Product Brand Name</label>
                                        <div class="col-sm-6">
                                            <input name="modelBrand" type="text" size="16" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Product Model Description</label>
                                        <div class="col-sm-6">
                                            <input name="modelDescription" type="text"  size="16" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="panel">
                                <div class="panel-body">
                                    <button type="submit" class="btn btn-success"> Save </button>
                                    <a href="/productModelsList/page" class="btn btn-warning"> Exit </a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

</body>
</html>