<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{_layout}">

<body>
<div layout:fragment="content">

    <div class="row">
        <form  class="form-horizontal"  th:action="@{/updateEmployee/{id}(id=${employee.employeeId})}"  th:object="${employee}"  method="POST">
            <div class="col-lg-12">
                <div class="container" style="width: 70%">
                    <div class="row">
                        <div class="col-lg-9">
                            <section class="panel">
                                <header class="panel-heading">
                                    Edit Employee Record
                                </header>
                                <div class="panel-body">
                                    <div class="form-group">

                                        <div class="col-sm-6">
                                            <input  type="hidden" th:field="*{employeeId}" >
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> PIN Number </label>
                                        <div class="col-sm-6">
                                            <input th:field="*{pinNo}" type="text" size="16" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> First Name</label>
                                        <div class="col-sm-6">
                                            <input th:field="*{firstName}" type="text"  size="16" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> Middle Name</label>
                                        <div class="col-sm-6">
                                            <input th:field="*{middleName}" type="text"  size="16" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> Last Name</label>
                                        <div class="col-sm-6">
                                            <input th:field="*{lastName}" type="text"  size="16" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> Email</label>
                                        <div class="col-sm-6">
                                            <input th:field="*{email}" type="text"  size="16" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> Telephone No</label>
                                        <div class="col-sm-6">
                                            <input th:field="*{phoneNo}" type="text"  size="16" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> Address </label>
                                        <div class="col-sm-6">
                                            <select  class="form-control" id="ddlAddressAdd"  name="addressid">
                                                <option th:text="${null}"></option>
                                                <option th:each="address:${addresses}"
                                                        th:value="${address.addressId}"
                                                        th:selected="${employee.addressid}==${address.addressId} ? TRUE : FALSE"
                                                        th:text="${address.districtName}">
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> Address </label>
                                        <div class="col-sm-6">
                                            <select  class="form-control" id="ddlJobtitleAdd"  name="jobtitleid">
                                                <option th:text="${null}"></option>
                                                <option th:each="jobTitle:${jobTitles}"
                                                        th:value="${jobTitle.jobTitleId}"
                                                        th:selected="${employee.jobtitleid}==${jobTitle.jobTitleId} ? TRUE : FALSE"
                                                        th:text="${jobTitle.jobTitleName}">
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> Employee Type </label>
                                        <div class="col-sm-6">
                                            <select  class="form-control" id="ddlemptypeAdd"  name="employeetypeid">
                                                <option th:text="${null}"></option>
                                                <option th:each="employeeType:${employeeTypes}"
                                                        th:value="${employeeType.employeeTypeId}"
                                                        th:selected="${employee.employeetypeid}==${employeeType.employeeTypeId} ? TRUE : FALSE"
                                                        th:text="${employeeType.employeeTypeName}">
                                                </option>

                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </section>
                            <section class="panel">
                                <div class="panel-body">
                                    <button type="submit" class="btn btn-success"> Save </button>
                                    <a href="/employeesList/page" class="btn btn-warning"> Exit </a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

</body>
</html>