<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<body>

<div layout:fragment="content">

  <div class="row">
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/productAdd" class="btn btn-primary">Products</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/categoryAdd" class="btn btn-primary">Categories</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/productStatusAdd" class="btn btn-primary">Product Status </a>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/productModelAdd" class="btn btn-primary">Product Model </a>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>

</div>
</body>
</html>