<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{_layout}">

<body>
<div layout:fragment="content">

    <div class="row">

        <form  class="form-horizontal"  th:action="@{/product}"  method="POST">
            <div class="col-lg-12">
                <div class="container" style="width: 70%">
                    <div class="row">
                        <div class="col-lg-9"> <section class="panel">
                            <header class="panel-heading">
                                Add Product Record View
                            </header>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="control-label col-sm-4">Product Name</label>
                                    <div class="col-sm-6">
                                        <input th:field="*{productName}" type="text" size="16" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Product Description</label>
                                    <div class="col-sm-6">
                                        <input th:field="*{productDescription}" type="text" size="16" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Date Manufactured</label>
                                    <div class="col-sm-6">
                                        <input type="date" name="productionDate"   size="16" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Purchase Date</label>
                                    <div class="col-sm-6">
                                        <input type="date" th:field="*{purchaseDate}"  size="16" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Product Price</label>
                                    <div class="col-sm-6">
                                        <input th:field="*{productPrice}" type="number" data-decimal="2" size="16" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Abacus Number</label>
                                    <div class="col-sm-6">
                                        <input th:field="*{abacusNumber}" type="text" size="16" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Serial Number</label>
                                    <div class="col-sm-6">
                                        <input th:field="*{serialNumber}" type="text" size="16" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Product Asset Tag</label>
                                    <div class="col-sm-6">
                                        <input th:field="*{psmTag}" type="text"  size="16" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Product compliance (889)?</label>
                                    <div class="col-sm-6">
                                        <input th:field="*{productCompliance}" type="text"  size="16" class="form-control" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4">Product Category </label>
                                    <div class="col-sm-6">
                                        <select  class="form-control" id="ddlProductAdd2"  disabled="true" name="categoryid" >
                                            <option th:text="${null}"></option>
                                            <option th:each="category:${categories}"
                                                    th:value="${category.categoryId}"
                                                    th:selected="${product.categoryid}==${category.categoryId} ? TRUE : FALSE"
                                                    th:text="${category.categoryName}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4">Vendor/Supplier Name </label>
                                    <div class="col-sm-6">
                                        <select  class="form-control" id="ddlProductAdd3" disabled="true"  name="vendorid">
                                            <option th:text="${null}"></option>
                                            <option th:each="vendor:${vendors}"
                                                    th:value="${vendor.vendorId}"
                                                    th:selected="${product.vendorid}==${vendor.vendorId} ? TRUE : FALSE"
                                                    th:text="${vendor.vendorName}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Product Status </label>
                                    <div class="col-sm-6">
                                        <select  class="form-control" id="ddlProductAdd4"  disabled="true" name="productstatusid">
                                            <option th:text="${null}"></option>
                                            <option th:each="productStatus:${productStatuses}"
                                                    th:value="${productStatus.productStatusId}"
                                                    th:selected="${product.productstatusid}==${productStatus.productStatusId} ? TRUE : FALSE"
                                                    th:text="${productStatus.productStatusName}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">SER Value upon purchase </label>
                                    <div class="col-sm-6">
                                        <select  class="form-control" id="ddlProductAdd5"  disabled="true" name="serid">
                                            <option th:text="${null}"></option>
                                            <option th:each="serVal:${serValues}"
                                                    th:value="${serVal.serId}"
                                                    th:selected="${product.serid}==${serVal.serId} ? TRUE : FALSE"
                                                    th:text="${serVal.serValue}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Currency Type </label>
                                    <div class="col-sm-6">
                                        <select  class="form-control" id="ddlProductAdd6" disabled="true" name="currencytypeid">
                                            <option th:text="${null}"></option>
                                            <option th:each="currencyType:${currencyTypes}"
                                                    th:value="${currencyType.currencyTypeId}"
                                                    th:selected="${product.currencytypeid}==${currencyType.currencyTypeId} ? TRUE : FALSE"
                                                    th:text="${currencyType.currencyTypeName}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4">Product Model </label>
                                    <div class="col-sm-6">
                                        <select  class="form-control" id="ddlmodelAdd" disabled="ture" name="modelid">
                                            <option th:text="${null}"></option>
                                            <option th:each="pModel:${productModels}"
                                                    th:value="${pModel.modelId}"
                                                    th:selected="${product.modelid}==${pModel.modelId} ? TRUE : FALSE"
                                                    th:text="${pModel.modelName}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4">Product Remark(if any)</label>
                                    <div class="col-sm-6">
                                        <input th:field="*{productRemark}" type="text"  size="16" class="form-control" readonly >
                                    </div>
                                </div>
                            </div>
                        </section>
                            <section class="panel">
                                <div class="panel-body">
                                    <button type="submit" class="btn btn-success"> Save </button>
                                    <a href="/productsList/page" class="btn btn-warning"> Exit </a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

</body>
</html>