<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{_layout}">

<body>
<div layout:fragment="content">

    <div class="row">
        <form  class="form-horizontal"  th:action="@{/saveEmployees}" method="POST">
            <div class="col-lg-12">
                <div class="container" style="width: 70%">
                    <div class="row">
                        <div class="col-lg-9">
                            <section class="panel">
                                <header class="panel-heading">
                                    Add Employee Record
                                </header>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Employee PIN Number </label>
                                        <div class="col-sm-6">
                                            <input name="pinNo" type="text" size="16" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Employee First Name</label>
                                        <div class="col-sm-6">
                                            <input name="firstName" type="text"  size="16" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Employee Middle Name</label>
                                        <div class="col-sm-6">
                                            <input name="middleName" type="text"  size="16" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Employee Last Name</label>
                                        <div class="col-sm-6">
                                            <input name="lastName" type="text"  size="16" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Employee Email</label>
                                        <div class="col-sm-6">
                                            <input name="email" type="text"  size="16" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Employee Telephone No</label>
                                        <div class="col-sm-6">
                                            <input name="phoneNo" type="text"  size="16" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Job Title</label>
                                        <div class="col-sm-6">
                                            <select  class="form-control" id="ddljobtitleAdd"  name="jobtitleid">
                                                <option>-SELECT-</option>
                                                <option th:each="jobTitle:${jobTitles}"
                                                        th:value="${jobTitle.jobTitleId}"
                                                        th:text="${jobTitle.jobTitleName}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Address </label>
                                        <div class="col-sm-6">
                                            <select  class="form-control" id="ddladdresAdd"  name="addressid">
                                                <option>-SELECT-</option>
                                                <option th:each="address:${addresses}"
                                                        th:value="${address.addressId}"
                                                        th:text="${address.districtName}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Employee Type</label>
                                        <div class="col-sm-6">
                                            <select  class="form-control" id="ddlAddressAdd"  name="employeetypeid">
                                                <option>-SELECT-</option>
                                                <option th:each="employeeType:${employeeTypes}"
                                                        th:value="${employeeType.employeeTypeId}"
                                                        th:text="${employeeType.employeeTypeName}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                              </div>
                            </section>
                            <section class="panel">
                                <div class="panel-body">
                                    <button type="submit" class="btn btn-success"> Save </button>
                                    <a href="/employeesList/page" class="btn btn-warning"> Exit </a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

</body>
</html>