<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{_layout}">

<body>
<div layout:fragment="content">

    <div class="row">
        <form  class="form-horizontal"  th:action="@{/updateNxpValue/{id}(id=${nxpValue.nxpValueId})}"  th:object="${nxpValue}"  method="POST">
            <div class="col-lg-12">
                <div class="container" style="width: 70%">
                    <div class="row">
                        <div class="col-lg-9">
                            <section class="panel">
                                <header class="panel-heading">
                                    Edit NXP Value Record
                                </header>
                                <div class="panel-body">
                                    <div class="form-group">

                                        <div class="col-sm-6">
                                            <input  type="hidden" th:field="*{nxpValueId}" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">NXP Value</label>
                                        <div class="col-sm-6">
                                            <input type="text"  th:field="*{nxpValue}" size="16" class="form-control" required >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">NXP Value Year</label>
                                        <div class="col-sm-6">
                                            <input  type="text" th:field="*{nxpValueYear}" size="16" class="form-control" required >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">NXP Value Description</label>
                                        <div class="col-sm-6">
                                            <input  type="text" th:field="*{nxpValueDescription}" size="16" class="form-control" required >
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="panel">
                                <div class="panel-body">
                                    <button type="submit" class="btn btn-success"> Save </button>
                                    <a href="/nxpValuesList/page" class="btn btn-warning"> Exit </a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

</body>
</html>