<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<body>

<div layout:fragment="content">

  <div class="row">
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/regionAdd" class="btn btn-primary">Regions</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Addresses</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/vendorsAdd" class="btn btn-primary">Vendors</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/departmentAdd" class="btn btn-primary">Departments</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">SER Values</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Currency Types</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">NXP Value</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>
</body>
</html>